/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/dic/Makefile
/dic/Makefile.in
/dic_tools/Makefile
/dic_tools/Makefile.in
/engine/Makefile
/engine/Makefile.in
/engine/ibus-engine-replace-with-kanji
/engine/replace-with-kanji-python.xml
/engine/replace-with-kanji-python.xml.in
/engine/org.freedesktop.ibus.engine.replace-with-kanji-python.gschema.valid
/engine/org.freedesktop.ibus.engine.replace-with-kanji-python.gschema.xml
/ibus-replace-with-kanji.spec
/icons/Makefile
/icons/Makefile.in
/install-sh
/layouts/Makefile
/layouts/Makefile.in
/missing
/py-compile
