Source: ibus-hiragana
Section: utils
Priority: optional
Maintainer: Esrille Inc. <info@esrille.com>
Build-Depends: debhelper (>=11),autopoint,dh-python,autotools-dev,python3-dev,pkg-config,libibus-1.0-dev (>= 1.5.11)
Standards-Version: 3.9.6
Homepage: https://github.com/esrille/ibus-hiragana
Vcs-Git: https://github.com/esrille/ibus-hiragana.git
Vcs-Browser: https://github.com/esrille/ibus-hiragana

Package: ibus-hiragana
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, ibus (>= 1.5.11), yelp
Recommends: ibus-gtk, ibus-gtk3
Description: Hiragana IME for IBus
